In [3]:
import numpy as np
import pandas as pd

In [4]:
df_train = pd.read_csv('train.csv')

In [5]:
df_train

,id,distance,taxi_type,months_of_activity,customer_score,customer_score_confidence,drop_location_type,ratings_given_by_cust,num_of_cancelled_trips,anon_var_1,anon_var_2,anon_var_3,sex,pricing_category
0,T0005891966,59.30,C,1.0,NaN,NaN,B,1.18625,0,NaN,50,71,Male,2
1,T0005902453,20.68,B,0.0,2.79222,C,B,1.91750,1,31.0,50,65,Male,2
2,T0005847289,64.83,B,1.0,2.97482,C,A,3.62125,0,65.0,49,84,Male,2
3,T0005741279,25.51,C,0.0,2.90334,A,B,4.76750,2,46.0,43,60,Female,3
4,T0005711058,20.16,D,6.0,2.62301,B,D,2.03875,0,NaN,52,71,Female,3
5,T0005783800,16.07,A,0.0,2.23315,C,A,2.61625,3,NaN,52,66,Female,1
6,T0005883908,62.67,A,5.0,2.91195,B,A,2.70375,1,NaN,59,95,Male,1
7,T0005750949,61.80,A,10.0,2.88819,B,A,2.90375,0,NaN,51,70,Female,1
8,T0005778719,50.22,B,10.0,2.64932,B,B,2.32375,0,87.0,49,82,Male,2
9,T0005708350,47.68,E,2.0,2.62713,C,A,3.85250,0,NaN,46,58,Female,3
10,T0005832133,47.79,C,2.0,2.90698,B,C,1.39625,1,92.0,52,90,Male,3
11,T0005847850,18.25,C,5.0,2.69602,C,B,1.86750,1,NaN,53,77,Male,2
12,T0005872781,91.61,B,10.0,3.09525,B,A,4.12500,0,94.0,50,67,Male,3
13,T0005755071,90.96,C,10.0,NaN,NaN,A,1.62000,0,63.0,61,91,Male,3
14,T0005708071,63.03,B,3.0,2.95138,C,A,3.06125,0,NaN,58,85,Female,2
15,T0005749358,28.28,A,10.0,2.81862,C,E,2.92125,1,55.0,55,86,Female,1
16,T0005871380,16.97,B,10.0,3.08221,A,A,1.50125,1,43.0,59,91,Male,2
17,T0005788102,75.37,E,0.0,2.90538,B,A,4.21375,2,35.0,50,73,Male,3
18,T0005878984,81.73,NaN,10.0,2.91318,C,B,2.92750,0,40.0,50,76,Male,1
19,T0005898510,30.00,C,NaN,2.59192,B,A,2.72000,0,NaN,47,86,Female,2
20,T0005826922,30.34,C,2.0,2.77153,A,A,4.40250,0,NaN,45,66,Male,2
21,T0005900143,3.47,B,5.0,2.54327,A,A,1.27625,1,NaN,54,66,Male,2
22,T0005880366,27.32,B,9.0,2.42415,A,B,2.71000,0,NaN,45,58,Male,2
23,T0005773107,29.90,B,3.0,NaN,NaN,A,3.01750,0,NaN,50,70,Female,1
24,T0005876873,54.37,C,2.0,2.84372,B,A,2.02500,1,47.0,50,76,Male,3
25,T0005857688,30.79,C,0.0,NaN,NaN,B,1.48125,3,101.0,54,74,Female,2
26,T0005788914,31.38,E,10.0,2.80479,A,A,0.82375,0,NaN,53,88,Male,2
27,T0005834883,29.65,D,10.0,3.08826,A,A,2.71625,1,33.0,57,84,Male,3
28,T0005856052,33.14,NaN,10.0,2.59571,C,A,2.46125,0,NaN,45,60,Male,2
29,T0005879962,55.14,D,10.0,2.93183,A,A,1.04500,0,NaN,56,89,Male,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78967,T0005804909,10.47,D,6.0,2.90164,A,A,2.86250,1,35.0,63,88,Male,3
78968,T0005733648,13.29,C,5.0,2.69374,C,D,2.15875,3,34.0,56,95,Male,2
78969,T0005698552,43.50,NaN,6.0,2.65869,A,B,1.38250,0,NaN,58,80,Male,2
78970,T0005897201,108.21,NaN,1.0,3.60307,C,A,2.90000,0,31.0,56,97,Male,3
78971,T0005888471,92.94,A,6.0,NaN,NaN,B,3.62125,0,110.0,57,98,Male,1
78972,T0005778277,11.72,C,3.0,3.03778,B,A,2.58750,1,NaN,58,86,Male,2
78973,T0005704297,63.65,D,10.0,2.80693,C,A,3.60125,1,99.0,47,75,Female,3
78974,T0005813572,107.32,D,10.0,3.13175,C,A,1.76250,0,NaN,62,92,Female,3
78975,T0005887037,50.75,NaN,10.0,3.02401,A,A,2.81625,0,NaN,50,85,Male,1
78976,T0005812002,47.14,C,6.0,2.85494,B,A,2.56625,5,NaN,53,73,Male,2
78977,T0005896957,36.84,C,0.0,2.74683,A,A,2.88125,0,NaN,54,107,Male,2
78978,T0005903442,22.81,B,10.0,2.53681,A,B,2.66000,0,NaN,49,65,Female,2
78979,T0005716520,108.14,NaN,10.0,3.05961,B,L,3.95250,2,65.0,52,83,Male,3
78980,T0005797024,15.44,C,NaN,2.66567,B,D,1.96500,0,48.0,47,74,Female,2
78981,T0005804878,23.18,E,3.0,2.63218,A,A,1.73375,0,NaN,52,68,Male,2
78982,T0005697563,74.20,A,9.0,2.96172,C,A,2.43875,0,NaN,55,100,Male,1
78983,T0005899789,4.67,B,4.0,2.76448,A,B,3.31250,0,NaN,62,85,Female,2
78984,T0005790306,91.79,A,10.0,3.02311,B,A,3.06875,1,NaN,48,61,Female,3
78985,T0005786170,57.19,A,5.0,2.78598,A,A,2.68500,0,NaN,47,82,Male,1
78986,T0005825169,56.58,B,10.0,3.10025,A,A,2.80375,0,NaN,49,75,Female,2
78987,T0005715604,42.25,B,6.0,3.02773,B,A,2.42375,1,NaN,57,91,Female,2
78988,T0005864200,18.42,C,4.0,2.60492,A,A,1.39250,2,59.0,53,81,Female,2
78989,T0005710628,62.06,C,10.0,2.79133,C,C,3.96875,0,51.0,47,71,Male,2
78990,T0005770548,8.30,D,NaN,2.32079,A,D,3.96500,0,71.0,47,61,Male,3
78991,T0005727335,69.29,E,10.0,2.77887,C,A,1.59000,0,NaN,53,74,Male,3
78992,T0005826222,10.69,B,0.0,2.38653,B,G,3.27250,0,55.0,44,68,Male,2
78993,T0005835441,31.58,B,10.0,2.61104,B,H,1.41125,1,NaN,49,68,Female,2
78994,T0005715952,13.11,B,6.0,2.65354,A,D,3.54375,0,NaN,48,63,Male,2
78995,T0005728917,63.79,C,10.0,NaN,NaN,A,3.60125,0,NaN,51,74,Male,2
78996,T0005749696,30.46,C,10.0,2.74367,B,B,2.69250,1,94.0,48,64,Male,3

In [6]:
taxi_type = np.array(df_train['taxi_type'])

In [7]:
a = set(taxi_type)
print(df_train.isnull().sum())

id                               0
distance                         0
taxi_type                    12152
months_of_activity            3533
customer_score               12041
customer_score_confidence    12041
drop_location_type               0
ratings_given_by_cust            0
num_of_cancelled_trips           0
anon_var_1                   42419
anon_var_2                       0
anon_var_3                       0
sex                              0
pricing_category                 0
dtype: int64

In [8]:
taxi_type_bin = np.zeros((taxi_type.shape[0], 5))

In [9]:
d = pd.get_dummies(df_train, columns=['taxi_type', 'customer_score_confidence', 'drop_location_type', 'sex'], dummy_na=True)

In [10]:
d_orig = d.copy(deep=True)
print(d.shape)
df_train.shape

(78997, 38)

(78997, 14)

In [11]:
d

,id,distance,months_of_activity,customer_score,ratings_given_by_cust,num_of_cancelled_trips,anon_var_1,anon_var_2,anon_var_3,pricing_category,...,drop_location_type_I,drop_location_type_J,drop_location_type_K,drop_location_type_L,drop_location_type_M,drop_location_type_N,drop_location_type_nan,sex_Female,sex_Male,sex_nan
0,T0005891966,59.30,1.0,NaN,1.18625,0,NaN,50,71,2,...,0,0,0,0,0,0,0,0,1,0
1,T0005902453,20.68,0.0,2.79222,1.91750,1,31.0,50,65,2,...,0,0,0,0,0,0,0,0,1,0
2,T0005847289,64.83,1.0,2.97482,3.62125,0,65.0,49,84,2,...,0,0,0,0,0,0,0,0,1,0
3,T0005741279,25.51,0.0,2.90334,4.76750,2,46.0,43,60,3,...,0,0,0,0,0,0,0,1,0,0
4,T0005711058,20.16,6.0,2.62301,2.03875,0,NaN,52,71,3,...,0,0,0,0,0,0,0,1,0,0
5,T0005783800,16.07,0.0,2.23315,2.61625,3,NaN,52,66,1,...,0,0,0,0,0,0,0,1,0,0
6,T0005883908,62.67,5.0,2.91195,2.70375,1,NaN,59,95,1,...,0,0,0,0,0,0,0,0,1,0
7,T0005750949,61.80,10.0,2.88819,2.90375,0,NaN,51,70,1,...,0,0,0,0,0,0,0,1,0,0
8,T0005778719,50.22,10.0,2.64932,2.32375,0,87.0,49,82,2,...,0,0,0,0,0,0,0,0,1,0
9,T0005708350,47.68,2.0,2.62713,3.85250,0,NaN,46,58,3,...,0,0,0,0,0,0,0,1,0,0
10,T0005832133,47.79,2.0,2.90698,1.39625,1,92.0,52,90,3,...,0,0,0,0,0,0,0,0,1,0
11,T0005847850,18.25,5.0,2.69602,1.86750,1,NaN,53,77,2,...,0,0,0,0,0,0,0,0,1,0
12,T0005872781,91.61,10.0,3.09525,4.12500,0,94.0,50,67,3,...,0,0,0,0,0,0,0,0,1,0
13,T0005755071,90.96,10.0,NaN,1.62000,0,63.0,61,91,3,...,0,0,0,0,0,0,0,0,1,0
14,T0005708071,63.03,3.0,2.95138,3.06125,0,NaN,58,85,2,...,0,0,0,0,0,0,0,1,0,0
15,T0005749358,28.28,10.0,2.81862,2.92125,1,55.0,55,86,1,...,0,0,0,0,0,0,0,1,0,0
16,T0005871380,16.97,10.0,3.08221,1.50125,1,43.0,59,91,2,...,0,0,0,0,0,0,0,0,1,0
17,T0005788102,75.37,0.0,2.90538,4.21375,2,35.0,50,73,3,...,0,0,0,0,0,0,0,0,1,0
18,T0005878984,81.73,10.0,2.91318,2.92750,0,40.0,50,76,1,...,0,0,0,0,0,0,0,0,1,0
19,T0005898510,30.00,NaN,2.59192,2.72000,0,NaN,47,86,2,...,0,0,0,0,0,0,0,1,0,0
20,T0005826922,30.34,2.0,2.77153,4.40250,0,NaN,45,66,2,...,0,0,0,0,0,0,0,0,1,0
21,T0005900143,3.47,5.0,2.54327,1.27625,1,NaN,54,66,2,...,0,0,0,0,0,0,0,0,1,0
22,T0005880366,27.32,9.0,2.42415,2.71000,0,NaN,45,58,2,...,0,0,0,0,0,0,0,0,1,0
23,T0005773107,29.90,3.0,NaN,3.01750,0,NaN,50,70,1,...,0,0,0,0,0,0,0,1,0,0
24,T0005876873,54.37,2.0,2.84372,2.02500,1,47.0,50,76,3,...,0,0,0,0,0,0,0,0,1,0
25,T0005857688,30.79,0.0,NaN,1.48125,3,101.0,54,74,2,...,0,0,0,0,0,0,0,1,0,0
26,T0005788914,31.38,10.0,2.80479,0.82375,0,NaN,53,88,2,...,0,0,0,0,0,0,0,0,1,0
27,T0005834883,29.65,10.0,3.08826,2.71625,1,33.0,57,84,3,...,0,0,0,0,0,0,0,0,1,0
28,T0005856052,33.14,10.0,2.59571,2.46125,0,NaN,45,60,2,...,0,0,0,0,0,0,0,0,1,0
29,T0005879962,55.14,10.0,2.93183,1.04500,0,NaN,56,89,3,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78967,T0005804909,10.47,6.0,2.90164,2.86250,1,35.0,63,88,3,...,0,0,0,0,0,0,0,0,1,0
78968,T0005733648,13.29,5.0,2.69374,2.15875,3,34.0,56,95,2,...,0,0,0,0,0,0,0,0,1,0
78969,T0005698552,43.50,6.0,2.65869,1.38250,0,NaN,58,80,2,...,0,0,0,0,0,0,0,0,1,0
78970,T0005897201,108.21,1.0,3.60307,2.90000,0,31.0,56,97,3,...,0,0,0,0,0,0,0,0,1,0
78971,T0005888471,92.94,6.0,NaN,3.62125,0,110.0,57,98,1,...,0,0,0,0,0,0,0,0,1,0
78972,T0005778277,11.72,3.0,3.03778,2.58750,1,NaN,58,86,2,...,0,0,0,0,0,0,0,0,1,0
78973,T0005704297,63.65,10.0,2.80693,3.60125,1,99.0,47,75,3,...,0,0,0,0,0,0,0,1,0,0
78974,T0005813572,107.32,10.0,3.13175,1.76250,0,NaN,62,92,3,...,0,0,0,0,0,0,0,1,0,0
78975,T0005887037,50.75,10.0,3.02401,2.81625,0,NaN,50,85,1,...,0,0,0,0,0,0,0,0,1,0
78976,T0005812002,47.14,6.0,2.85494,2.56625,5,NaN,53,73,2,...,0,0,0,0,0,0,0,0,1,0
78977,T0005896957,36.84,0.0,2.74683,2.88125,0,NaN,54,107,2,...,0,0,0,0,0,0,0,0,1,0
78978,T0005903442,22.81,10.0,2.53681,2.66000,0,NaN,49,65,2,...,0,0,0,0,0,0,0,1,0,0
78979,T0005716520,108.14,10.0,3.05961,3.95250,2,65.0,52,83,3,...,0,0,0,1,0,0,0,0,1,0
78980,T0005797024,15.44,NaN,2.66567,1.96500,0,48.0,47,74,2,...,0,0,0,0,0,0,0,1,0,0
78981,T0005804878,23.18,3.0,2.63218,1.73375,0,NaN,52,68,2,...,0,0,0,0,0,0,0,0,1,0
78982,T0005697563,74.20,9.0,2.96172,2.43875,0,NaN,55,100,1,...,0,0,0,0,0,0,0,0,1,0
78983,T0005899789,4.67,4.0,2.76448,3.31250,0,NaN,62,85,2,...,0,0,0,0,0,0,0,1,0,0
78984,T0005790306,91.79,10.0,3.02311,3.06875,1,NaN,48,61,3,...,0,0,0,0,0,0,0,1,0,0
78985,T0005786170,57.19,5.0,2.78598,2.68500,0,NaN,47,82,1,...,0,0,0,0,0,0,0,0,1,0
78986,T0005825169,56.58,10.0,3.10025,2.80375,0,NaN,49,75,2,...,0,0,0,0,0,0,0,1,0,0
78987,T0005715604,42.25,6.0,3.02773,2.42375,1,NaN,57,91,2,...,0,0,0,0,0,0,0,1,0,0
78988,T0005864200,18.42,4.0,2.60492,1.39250,2,59.0,53,81,2,...,0,0,0,0,0,0,0,1,0,0
78989,T0005710628,62.06,10.0,2.79133,3.96875,0,51.0,47,71,2,...,0,0,0,0,0,0,0,0,1,0
78990,T0005770548,8.30,NaN,2.32079,3.96500,0,71.0,47,61,3,...,0,0,0,0,0,0,0,0,1,0
78991,T0005727335,69.29,10.0,2.77887,1.59000,0,NaN,53,74,3,...,0,0,0,0,0,0,0,0,1,0
78992,T0005826222,10.69,0.0,2.38653,3.27250,0,55.0,44,68,2,...,0,0,0,0,0,0,0,0,1,0
78993,T0005835441,31.58,10.0,2.61104,1.41125,1,NaN,49,68,2,...,0,0,0,0,0,0,0,1,0,0
78994,T0005715952,13.11,6.0,2.65354,3.54375,0,NaN,48,63,2,...,0,0,0,0,0,0,0,0,1,0
78995,T0005728917,63.79,10.0,NaN,3.60125,0,NaN,51,74,2,...,0,0,0,0,0,0,0,0,1,0
78996,T0005749696,30.46,10.0,2.74367,2.69250,1,94.0,48,64,3,...,0,0,0,0,0,0,0,0,1,0

In [12]:
# d contains orignal cluimsn including nans
df_train = d.copy()
print(df_train.isna().sum())

id                                   0
distance                             0
months_of_activity                3533
customer_score                   12041
ratings_given_by_cust                0
num_of_cancelled_trips               0
anon_var_1                       42419
anon_var_2                           0
anon_var_3                           0
pricing_category                     0
taxi_type_A                          0
taxi_type_B                          0
taxi_type_C                          0
taxi_type_D                          0
taxi_type_E                          0
taxi_type_nan                        0
customer_score_confidence_A          0
customer_score_confidence_B          0
customer_score_confidence_C          0
customer_score_confidence_nan        0
drop_location_type_A                 0
drop_location_type_B                 0
drop_location_type_C                 0
drop_location_type_D                 0
drop_location_type_E                 0
drop_location_type_F                 0
drop_location_type_G                 0
drop_location_type_H                 0
drop_location_type_I                 0
drop_location_type_J                 0
drop_location_type_K                 0
drop_location_type_L                 0
drop_location_type_M                 0
drop_location_type_N                 0
drop_location_type_nan               0
sex_Female                           0
sex_Male                             0
sex_nan                              0
dtype: int64

### he

In [13]:
# remove nans
df_train = d.copy(deep=True)

In [14]:
df_train = df_train.drop(['anon_var_1'],axis=1)

In [15]:

df_train = df_train.dropna(how='any', axis='rows')

print((df_train.shape))
#print(df_train.isna().sum())

(63941, 37)

In [16]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.svm import NuSVC, SVC

In [17]:
df_train_label = df_train['pricing_category']
df_train = df_train.drop(['pricing_category', 'id', 'sex_nan'], axis=1)
print(df_train.shape)

(63941, 34)

In [18]:
#df

In [19]:
trainX, testX, trainY, testY = train_test_split(df_train, df_train_label, test_size=0)

In [20]:
clf = RandomForestClassifier(n_jobs=10, max_depth=10, n_estimators=20)
#clf = NuSVC()

In [21]:
clf.fit(trainX, trainY)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=10, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=20, n_jobs=10,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [22]:
clf.score(trainX, trainY)

0.7049467477831125

In [23]:
#clf.score(testX, testY)

In [24]:
df_test = pd.read_csv('test.csv')
df_test = pd.get_dummies(df_test, columns=['taxi_type', 'customer_score_confidence', 'drop_location_type', 'sex'], dummy_na=True)
df_test_id = df_test['id']
df_test = df_test.drop(['anon_var_1', 'sex_nan','id'],axis=1)
print(df_test.shape)
#print(df_test.isna().sum())
df_test = df_test.fillna(df_test.mean())
#print(df_test.isna().sum())

(52665, 34)

In [25]:
testY_i = clf.predict(df_test)
print(testY_i.shape)
testY_s = []
for x in testY_i:
    testY_s.append(float(x))
# Write the predictions to a CSV file 
submission = pd.DataFrame(
    {'id': df_test_id, 'pricing_category': testY_s},
    columns = ['id', 'pricing_category'])
submission.to_csv('submission.csv', index = False)

(52665,)

In [26]:
import matplotlib.pyplot as plt
#print(df_train.describe())
print(clf.feature_importances_)
print(df_train.columns.values)

plt.plot(df_train.columns.values[18:-2], clf.feature_importances_[18:-2])
plt.show()

[3.54768971e-02 7.14250733e-03 2.53295114e-02 2.37860121e-02
 3.22979686e-02 9.55615137e-03 1.51754745e-02 2.50768150e-01
 1.86875532e-01 7.11089183e-02 1.55308289e-01 6.50811541e-02
 2.72608021e-02 3.67222708e-02 1.84200424e-02 7.68887458e-03
 0.00000000e+00 3.41424676e-03 1.30524942e-02 1.07440916e-03
 4.65198468e-03 9.01252934e-04 1.15382176e-03 7.40599848e-04
 8.40318302e-04 1.05449572e-03 6.01373869e-04 4.83082407e-04
 4.51224640e-04 2.85781282e-04 1.15735798e-04 0.00000000e+00
 1.42740464e-03 1.75321814e-03]
['distance' 'months_of_activity' 'customer_score' 'ratings_given_by_cust'
 'num_of_cancelled_trips' 'anon_var_2' 'anon_var_3' 'taxi_type_A'
 'taxi_type_B' 'taxi_type_C' 'taxi_type_D' 'taxi_type_E' 'taxi_type_nan'
 'customer_score_confidence_A' 'customer_score_confidence_B'
 'customer_score_confidence_C' 'customer_score_confidence_nan'
 'drop_location_type_A' 'drop_location_type_B' 'drop_location_type_C'
 'drop_location_type_D' 'drop_location_type_E' 'drop_location_type_F'
 'drop_location_type_G' 'drop_location_type_H' 'drop_location_type_I'
 'drop_location_type_J' 'drop_location_type_K' 'drop_location_type_L'
 'drop_location_type_M' 'drop_location_type_N' 'drop_location_type_nan'
 'sex_Female' 'sex_Male']

## Preprocessing etc

In [42]:
df_test = pd.read_csv('test.csv')
df_test = pd.get_dummies(df_test, columns=['taxi_type', 'customer_score_confidence', 'drop_location_type', 'sex'], dummy_na=True)

In [60]:
import math
from sklearn import preprocessing
# Preprocessing fxns
def pp0(df_test):
    return df_test

def pp1(df_test):
    df_test = df_test.fillna(df_test.mean())
    return df_test

def pp2(df_test):
    df_test['anon_var_1'] = df_test['anon_var_1'].apply(lambda x: 0 if math.isnan(x) else x)    
    #df_test['customer_score'] = df_test['customer_score'].apply(lambda x: -1 if math.isnan(x) else x)    
    
    df_test = df_test.fillna(df_test.mean())
    return df_test

def pp3(df_test):
    df_test['anon_var_1'] = df_test['anon_var_1'].apply(lambda x: 0 if math.isnan(x) else x)    
            
    df_test = df_test.fillna(df_test.mean())
    
    train_norm = df_test[['distance', 'customer_score', 'ratings_given_by_cust', 'months_of_activity'
                          , 'num_of_cancelled_trips']]
    #print(norm.head())
    std_scale = preprocessing.MinMaxScaler().fit(train_norm)
    x_train_norm = std_scale.transform(train_norm)
    
    training_norm_col = pd.DataFrame(x_train_norm, index=train_norm.index, columns=train_norm.columns) 
    df_test.update(training_norm_col)
    
    #print (df_test.head())
    
    return df_test

def pp4(df_test):
    
    df_test = df_test.fillna(df_test.median())

    vector = []
    
    for idx, line in df_test.iterrows():
        if math.isnan(line['customer_score']):
            vector.append(-1)
        elif line['customer_score_confidence_A'] == 1:
            vector.append(line['customer_score']+10)
        elif line['customer_score_confidence_B'] == 1:
            vector.append(line['customer_score']+5)
        else:
            vector.append(line['customer_score'])
    
    
    df_test = df_test.fillna(df_test.mean())
    
    train_norm = df_test[['distance', 'customer_score', 'ratings_given_by_cust', 'months_of_activity'
                          , 'num_of_cancelled_trips']]
    #print(norm.head())
    std_scale = preprocessing.MinMaxScaler().fit(train_norm)
    x_train_norm = std_scale.transform(train_norm)
    
    training_norm_col = pd.DataFrame(x_train_norm, index=train_norm.index, columns=train_norm.columns) 
    df_test.update(training_norm_col)
    
    #print(norm.head())
    
    training_norm_col = pd.DataFrame(vector, columns=['customer_score']) 
    df_test.update(training_norm_col)
    
    #print (df_test.head())
    
    return df_test

In [61]:
df_test = pp4(df_test.copy(deep=True))
#df_test.isna().sum()

In [30]:
df_train2 = d_orig.copy(deep=True)
print(df_train2.shape)

df_train2 = df_train2.drop(['id'], axis=1)
print(df_train2.shape)

df_train2.describe()

#df_train2 = df_train2[(df_train2.taxi_type_nan==0) & (df_train2.sex_nan==0) & (df_train2.drop_location_type_nan==0)]
print(df_train2.shape)
#print(df_train2.isna().sum())

#df_train2 = df_train2.fillna(df_train2.mean())
df_train2 = pp4(df_train2)

(78997, 38)
(78997, 37)
(78997, 37)

/home/supreet/.local/lib/python3.6/site-packages/sklearn/preprocessing/data.py:323: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [62]:
def xMat1(df):
    return np.column_stack((df.distance, df.months_of_activity, df.taxi_type_A, df.taxi_type_B
                           , df.taxi_type_C, df.taxi_type_D, df.drop_location_type_A, df.drop_location_type_B
                          , df.drop_location_type_C))
def xMat2(df):
    return np.column_stack((df.distance, df.taxi_type_A, df.taxi_type_B
                           , df.taxi_type_C, df.taxi_type_D, df.drop_location_type_A, df.drop_location_type_B
                          , df.drop_location_type_C))
def xMat3(df):
    return np.column_stack((df.taxi_type_A, df.taxi_type_B
                           , df.taxi_type_C, df.taxi_type_D, df.drop_location_type_A, df.drop_location_type_B
                          , df.drop_location_type_C, df.drop_location_type_D))
def xMat3e(df):
    return np.column_stack((df.taxi_type_A, df.taxi_type_B, df.taxi_type_E, df.taxi_type_nan, df.ratings_given_by_cust
                           , df.taxi_type_C, df.taxi_type_D, df.distance))
def xMat4(df):
    return np.column_stack((df.anon_var_2, df.anon_var_3 ,df.taxi_type_A, df.taxi_type_B
                           , df.taxi_type_C, df.taxi_type_D, df.taxi_type_E
                            , df.drop_location_type_A, df.drop_location_type_B
                          , df.drop_location_type_C, df.drop_location_type_D
                           ,df.drop_location_type_E, df.drop_location_type_F))
def xMat5(df):
    return np.column_stack((df.distance, df.anon_var_1, df.anon_var_2, df.anon_var_3 ,df.taxi_type_A, df.taxi_type_B
                           , df.taxi_type_C, df.taxi_type_D, df.taxi_type_E, df.taxi_type_nan
                            , df.drop_location_type_A, df.drop_location_type_B
                          , df.drop_location_type_C, df.drop_location_type_D
                           ,df.drop_location_type_E, df.drop_location_type_F
                           , df.customer_score, df.customer_score_confidence_A, df.customer_score_confidence_B 
                           ,df.customer_score_confidence_C, df.drop_location_type_G, df.drop_location_type_H
                           ,df.drop_location_type_I, df.drop_location_type_J, df.drop_location_type_K
                           , df.drop_location_type_L, df.drop_location_type_M, df.drop_location_type_N))

def xMat6(df):
    return np.column_stack((df.distance, df.customer_score, df.customer_score_confidence_A, df.ratings_given_by_cust
                            ,df.customer_score_confidence_B, df.customer_score_confidence_C
                            , df.customer_score_confidence_nan, df.taxi_type_A, df.taxi_type_B
                           , df.taxi_type_C, df.taxi_type_D, df.taxi_type_E, df.taxi_type_nan
                            , df.num_of_cancelled_trips, df.anon_var_3
                            ))

def xMat7(df): #use with pp4
    return np.column_stack((df.distance, df.months_of_activity,df.customer_score, df.customer_score_confidence_nan ,df.taxi_type_A, df.taxi_type_B
                           , df.taxi_type_C, df.taxi_type_D, df.taxi_type_E, df.taxi_type_nan
                            , df.num_of_cancelled_trips, df.anon_var_1, df.ratings_given_by_cust
                            ))

In [32]:
X_raw = xMat7(df_train2)
print(X_raw.shape)
X_test = xMat7(df_test)
print(X_test.shape)

(78997, 13)
(52665, 13)

In [33]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split

In [34]:
trainX, testX, trainY, testY = train_test_split(X_raw, df_train2['pricing_category'], test_size=0)

In [35]:
import matplotlib.pyplot as plt
from sklearn.model_selection import cross_val_score

clf = RandomForestClassifier(n_jobs=16, n_estimators=40, max_depth=11)

print(cross_val_score(clf, trainX, trainY,cv = 5))

clf.fit(trainX, trainY)
print(clf.score(trainX, trainY))
#print(clf.score(testX, testY))
clf.feature_importances_
#plt.plot(clf.feature_importances_)
#plt.show()

[0.68622239 0.68892405 0.69841772 0.6866692  0.68831498]
0.7078243477600416

array([0.0632097 , 0.0141564 , 0.06446379, 0.00203924, 0.24889853,
       0.18266662, 0.06286805, 0.15077437, 0.06539794, 0.02951768,
       0.04029618, 0.02782121, 0.0478903 ])

In [36]:

testY_i = clf.predict(X_test)
print(testY_i.shape)
testY_s = []
for x in testY_i:
    testY_s.append(float(x))
# Write the predictions to a CSV file 
submission = pd.DataFrame(
    {'id': df_test.id, 'pricing_category': testY_s},
    columns = ['id', 'pricing_category'])
submission.to_csv('submission.csv', index = False)

(52665,)

In [37]:
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.ensemble import GradientBoostingClassifier

clf = ExtraTreesClassifier(n_estimators=30, max_depth=15, n_jobs=10)
clf.fit(trainX, trainY)
print(clf.score(trainX, trainY))
#print(clf.score(testX, testY))

testY_i = clf.predict(X_test)
print(testY_i.shape)
testY_s = []
for x in testY_i:
    testY_s.append(float(x))
# Write the predictions to a CSV file 
submission = pd.DataFrame(
    {'id': df_test.id, 'pricing_category': testY_s},
    columns = ['id', 'pricing_category'])
submission.to_csv('submission.csv', index = False)

0.7425345266275934
(52665,)

In [38]:
df_train2 = df_train2.dropna(how='any', axis='rows')
print(df_train2.shape)
#print(df_train2.isna().sum())

(78997, 37)

## Trying to use xgboost ( no regression )

In [64]:
df_test = pp4(df_test.copy(deep=True))
df_train2 = d_orig.copy(deep=True)
print(df_train2.shape)

df_train2 = df_train2.drop(['id'], axis=1)


#df_train2 = df_train2[(df_train2.taxi_type_nan==0) & (df_train2.sex_nan==0) & (df_train2.drop_location_type_nan==0)]
print(df_train2.shape)
#print(df_train2.isna().sum())

#df_train2 = df_train2.fillna(df_train2.mean())
df_train2 = pp4(df_train2)

(78997, 38)
(78997, 37)

/home/supreet/.local/lib/python3.6/site-packages/sklearn/preprocessing/data.py:323: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [65]:
X_raw = xMat7(df_train2)
print(X_raw.shape)
X_test = xMat7(df_test)
print(X_test.shape)
trainX, testX, trainY, testY = train_test_split(X_raw, df_train2['pricing_category'], test_size=0)

(78997, 13)
(52665, 13)

In [66]:
import xgboost as xgb
xgb_model = xgb.XGBClassifier(objective="multi:softprob", n_jobs=6
                              , booster='gbtree', learning_rate=0.1)

In [67]:
from sklearn.model_selection import RandomizedSearchCV

def report_best_scores(results, n_top=3):
    for i in range(1, n_top + 1):
        candidates = np.flatnonzero(results['rank_test_score'] == i)
        for candidate in candidates:
            print("Model with rank: {0}".format(i))
            print("Mean validation score: {0:.3f} (std: {1:.3f})".format(
                  results['mean_test_score'][candidate],
                  results['std_test_score'][candidate]))
            print("Parameters: {0}".format(results['params'][candidate]))
            print("")

In [68]:
from scipy.stats import uniform, randint
params = {
    "colsample_bytree": uniform(0.7, 0.3),
    "gamma": uniform(0, 0.5),
    "learning_rate": uniform(0.03, 0.3), # default 0.1 
    "max_depth": randint(2, 6), # default 3
    "n_estimators": randint(100, 150), # default 100
    "subsample": uniform(0.6, 0.4)
}
search = RandomizedSearchCV(xgb_model, param_distributions=params, cv=3,  n_jobs=1, return_train_score=True)
search.fit(trainX, trainY)

RandomizedSearchCV(cv=3, error_score='raise-deprecating',
          estimator=XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=6, nthread=None, objective='multi:softprob', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1),
          fit_params=None, iid='warn', n_iter=10, n_jobs=1,
          param_distributions={'colsample_bytree': <scipy.stats._distn_infrastructure.rv_frozen object at 0x7f0a0f7aaeb8>, 'gamma': <scipy.stats._distn_infrastructure.rv_frozen object at 0x7f0a0f833198>, 'learning_rate': <scipy.stats._distn_infrastructure.rv_frozen object at 0x7f0a0f833b70>, 'max_depth': <sci...x7f0a0f010d30>, 'subsample': <scipy.stats._distn_infrastructure.rv_frozen object at 0x7f0a0f921cf8>},
          pre_dispatch='2*n_jobs', random_state=None, refit=True,
          return_train_score=True, scoring=None, verbose=0)

In [69]:
report_best_scores(search.cv_results_, 1)

Model with rank: 1
Mean validation score: 0.694 (std: 0.001)
Parameters: {'colsample_bytree': 0.8782383279973703, 'gamma': 0.28770390537153495, 'learning_rate': 0.11505137857977846, 'max_depth': 5, 'n_estimators': 130, 'subsample': 0.7986239248958934}