In [1]:
import numpy as np
import pandas as pd

In [2]:
df_raw = pd.read_csv('train.csv')
df_train = df_raw

In [3]:
print(df_raw.isnull().sum())

id                               0
distance                         0
taxi_type                    12152
months_of_activity            3533
customer_score               12041
customer_score_confidence    12041
drop_location_type               0
ratings_given_by_cust            0
num_of_cancelled_trips           0
anon_var_1                   42419
anon_var_2                       0
anon_var_3                       0
sex                              0
pricing_category                 0
dtype: int64

In [4]:
d = pd.get_dummies(df_train, 
                   columns=['taxi_type', 'customer_score_confidence', 'drop_location_type', 'sex'], 
                   dummy_na=True)
d = d.drop(['id','anon_var_1'], axis=1)
d_raw = d.copy(deep=True)

In [5]:
# print(d.isnull().sum())

In [68]:
months_of_activity = d['months_of_activity']
customer_score = d['customer_score']
# df.fillna(df.mean(), inplace=True)

In [7]:
months_of_activity = months_of_activity.fillna(months_of_activity.mean())
d['months_of_activity'] = months_of_activity
d_raw1 = d.copy(deep=True)

In [8]:
customer_score = customer_score.fillna(customer_score.mean())
d['customer_score'] = customer_score

In [9]:
# print(d.isnull().sum())
# print(d_raw1.isnull().sum())
# print(d_raw.isnull().sum())
# d_raw1

In [10]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge, LinearRegression
from sklearn.neural_network import MLPRegressor

In [11]:
data = d.drop(['customer_score','pricing_category'], axis=1)
label = d['customer_score']

In [12]:
x_train, x_test, y_train, y_test = train_test_split(data, label, test_size = 0.1)

In [13]:
# regressor = RandomForestRegressor(n_jobs=-1, n_estimators=100, warm_start=True, verbose=1)
regressor = MLPRegressor(verbose=True)

In [14]:
regressor.fit(x_train, y_train)

Iteration 1, loss = 0.59458439
Iteration 2, loss = 0.02553076
Iteration 3, loss = 0.02103422
Iteration 4, loss = 0.01824452
Iteration 5, loss = 0.01684652
Iteration 6, loss = 0.01625523
Iteration 7, loss = 0.01591546
Iteration 8, loss = 0.01657549
Iteration 9, loss = 0.01560431
Iteration 10, loss = 0.01562075
Iteration 11, loss = 0.01626381
Iteration 12, loss = 0.01592694
Iteration 13, loss = 0.01619654
Iteration 14, loss = 0.01543943
Iteration 15, loss = 0.01483705
Iteration 16, loss = 0.01558202
Iteration 17, loss = 0.01540933
Iteration 18, loss = 0.01543313
Iteration 19, loss = 0.01560391
Iteration 20, loss = 0.01499061
Iteration 21, loss = 0.01594956
Iteration 22, loss = 0.01540329
Iteration 23, loss = 0.01517645
Iteration 24, loss = 0.01562417
Iteration 25, loss = 0.01549509
Iteration 26, loss = 0.01519125
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.

MLPRegressor(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(100,), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
       random_state=None, shuffle=True, solver='adam', tol=0.0001,
       validation_fraction=0.1, verbose=True, warm_start=False)

In [15]:
pred = regressor.predict(x_train)
score = np.linalg.norm((y_train-pred)**2,ord=2)/pred.shape[0]
print(score)

0.0002489623803093025

In [16]:
pred = regressor.predict(x_test)
score = np.linalg.norm((y_test-pred)**2,ord=2)/pred.shape[0]
print(score)

0.0008536203693764528

In [17]:
customer_score_orig = d_raw1['customer_score']

In [18]:
indx_nan = np.array(customer_score_orig.isna())
indx_nan = np.where(indx_nan == True)[0]
indx_not_nan = np.where(indx_nan == False)[0]

In [19]:
d_raw1

,distance,months_of_activity,customer_score,ratings_given_by_cust,num_of_cancelled_trips,anon_var_2,anon_var_3,pricing_category,taxi_type_A,taxi_type_B,...,drop_location_type_I,drop_location_type_J,drop_location_type_K,drop_location_type_L,drop_location_type_M,drop_location_type_N,drop_location_type_nan,sex_Female,sex_Male,sex_nan
0,59.30,1.000000,NaN,1.18625,0,50,71,2,0,0,...,0,0,0,0,0,0,0,0,1,0
1,20.68,0.000000,2.79222,1.91750,1,50,65,2,0,1,...,0,0,0,0,0,0,0,0,1,0
2,64.83,1.000000,2.97482,3.62125,0,49,84,2,0,1,...,0,0,0,0,0,0,0,0,1,0
3,25.51,0.000000,2.90334,4.76750,2,43,60,3,0,0,...,0,0,0,0,0,0,0,1,0,0
4,20.16,6.000000,2.62301,2.03875,0,52,71,3,0,0,...,0,0,0,0,0,0,0,1,0,0
5,16.07,0.000000,2.23315,2.61625,3,52,66,1,1,0,...,0,0,0,0,0,0,0,1,0,0
6,62.67,5.000000,2.91195,2.70375,1,59,95,1,1,0,...,0,0,0,0,0,0,0,0,1,0
7,61.80,10.000000,2.88819,2.90375,0,51,70,1,1,0,...,0,0,0,0,0,0,0,1,0,0
8,50.22,10.000000,2.64932,2.32375,0,49,82,2,0,1,...,0,0,0,0,0,0,0,0,1,0
9,47.68,2.000000,2.62713,3.85250,0,46,58,3,0,0,...,0,0,0,0,0,0,0,1,0,0
10,47.79,2.000000,2.90698,1.39625,1,52,90,3,0,0,...,0,0,0,0,0,0,0,0,1,0
11,18.25,5.000000,2.69602,1.86750,1,53,77,2,0,0,...,0,0,0,0,0,0,0,0,1,0
12,91.61,10.000000,3.09525,4.12500,0,50,67,3,0,1,...,0,0,0,0,0,0,0,0,1,0
13,90.96,10.000000,NaN,1.62000,0,61,91,3,0,0,...,0,0,0,0,0,0,0,0,1,0
14,63.03,3.000000,2.95138,3.06125,0,58,85,2,0,1,...,0,0,0,0,0,0,0,1,0,0
15,28.28,10.000000,2.81862,2.92125,1,55,86,1,1,0,...,0,0,0,0,0,0,0,1,0,0
16,16.97,10.000000,3.08221,1.50125,1,59,91,2,0,1,...,0,0,0,0,0,0,0,0,1,0
17,75.37,0.000000,2.90538,4.21375,2,50,73,3,0,0,...,0,0,0,0,0,0,0,0,1,0
18,81.73,10.000000,2.91318,2.92750,0,50,76,1,0,0,...,0,0,0,0,0,0,0,0,1,0
19,30.00,6.014179,2.59192,2.72000,0,47,86,2,0,0,...,0,0,0,0,0,0,0,1,0,0
20,30.34,2.000000,2.77153,4.40250,0,45,66,2,0,0,...,0,0,0,0,0,0,0,0,1,0
21,3.47,5.000000,2.54327,1.27625,1,54,66,2,0,1,...,0,0,0,0,0,0,0,0,1,0
22,27.32,9.000000,2.42415,2.71000,0,45,58,2,0,1,...,0,0,0,0,0,0,0,0,1,0
23,29.90,3.000000,NaN,3.01750,0,50,70,1,0,1,...,0,0,0,0,0,0,0,1,0,0
24,54.37,2.000000,2.84372,2.02500,1,50,76,3,0,0,...,0,0,0,0,0,0,0,0,1,0
25,30.79,0.000000,NaN,1.48125,3,54,74,2,0,0,...,0,0,0,0,0,0,0,1,0,0
26,31.38,10.000000,2.80479,0.82375,0,53,88,2,0,0,...,0,0,0,0,0,0,0,0,1,0
27,29.65,10.000000,3.08826,2.71625,1,57,84,3,0,0,...,0,0,0,0,0,0,0,0,1,0
28,33.14,10.000000,2.59571,2.46125,0,45,60,2,0,0,...,0,0,0,0,0,0,0,0,1,0
29,55.14,10.000000,2.93183,1.04500,0,56,89,3,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78967,10.47,6.000000,2.90164,2.86250,1,63,88,3,0,0,...,0,0,0,0,0,0,0,0,1,0
78968,13.29,5.000000,2.69374,2.15875,3,56,95,2,0,0,...,0,0,0,0,0,0,0,0,1,0
78969,43.50,6.000000,2.65869,1.38250,0,58,80,2,0,0,...,0,0,0,0,0,0,0,0,1,0
78970,108.21,1.000000,3.60307,2.90000,0,56,97,3,0,0,...,0,0,0,0,0,0,0,0,1,0
78971,92.94,6.000000,NaN,3.62125,0,57,98,1,1,0,...,0,0,0,0,0,0,0,0,1,0
78972,11.72,3.000000,3.03778,2.58750,1,58,86,2,0,0,...,0,0,0,0,0,0,0,0,1,0
78973,63.65,10.000000,2.80693,3.60125,1,47,75,3,0,0,...,0,0,0,0,0,0,0,1,0,0
78974,107.32,10.000000,3.13175,1.76250,0,62,92,3,0,0,...,0,0,0,0,0,0,0,1,0,0
78975,50.75,10.000000,3.02401,2.81625,0,50,85,1,0,0,...,0,0,0,0,0,0,0,0,1,0
78976,47.14,6.000000,2.85494,2.56625,5,53,73,2,0,0,...,0,0,0,0,0,0,0,0,1,0
78977,36.84,0.000000,2.74683,2.88125,0,54,107,2,0,0,...,0,0,0,0,0,0,0,0,1,0
78978,22.81,10.000000,2.53681,2.66000,0,49,65,2,0,1,...,0,0,0,0,0,0,0,1,0,0
78979,108.14,10.000000,3.05961,3.95250,2,52,83,3,0,0,...,0,0,0,1,0,0,0,0,1,0
78980,15.44,6.014179,2.66567,1.96500,0,47,74,2,0,0,...,0,0,0,0,0,0,0,1,0,0
78981,23.18,3.000000,2.63218,1.73375,0,52,68,2,0,0,...,0,0,0,0,0,0,0,0,1,0
78982,74.20,9.000000,2.96172,2.43875,0,55,100,1,1,0,...,0,0,0,0,0,0,0,0,1,0
78983,4.67,4.000000,2.76448,3.31250,0,62,85,2,0,1,...,0,0,0,0,0,0,0,1,0,0
78984,91.79,10.000000,3.02311,3.06875,1,48,61,3,1,0,...,0,0,0,0,0,0,0,1,0,0
78985,57.19,5.000000,2.78598,2.68500,0,47,82,1,1,0,...,0,0,0,0,0,0,0,0,1,0
78986,56.58,10.000000,3.10025,2.80375,0,49,75,2,0,1,...,0,0,0,0,0,0,0,1,0,0
78987,42.25,6.000000,3.02773,2.42375,1,57,91,2,0,1,...,0,0,0,0,0,0,0,1,0,0
78988,18.42,4.000000,2.60492,1.39250,2,53,81,2,0,0,...,0,0,0,0,0,0,0,1,0,0
78989,62.06,10.000000,2.79133,3.96875,0,47,71,2,0,0,...,0,0,0,0,0,0,0,0,1,0
78990,8.30,6.014179,2.32079,3.96500,0,47,61,3,0,0,...,0,0,0,0,0,0,0,0,1,0
78991,69.29,10.000000,2.77887,1.59000,0,53,74,3,0,0,...,0,0,0,0,0,0,0,0,1,0
78992,10.69,0.000000,2.38653,3.27250,0,44,68,2,0,1,...,0,0,0,0,0,0,0,0,1,0
78993,31.58,10.000000,2.61104,1.41125,1,49,68,2,0,1,...,0,0,0,0,0,0,0,1,0,0
78994,13.11,6.000000,2.65354,3.54375,0,48,63,2,0,1,...,0,0,0,0,0,0,0,0,1,0
78995,63.79,10.000000,NaN,3.60125,0,51,74,2,0,0,...,0,0,0,0,0,0,0,0,1,0
78996,30.46,10.000000,2.74367,2.69250,1,48,64,3,0,0,...,0,0,0,0,0,0,0,0,1,0

In [20]:
customer_score_pred = customer_score_orig
temp_data = np.array(d_raw1.drop(['customer_score','pricing_category'],axis=1))[indx_nan,:]
print(temp_data.shape)
customer_score_pred[indx_nan] = regressor.predict(temp_data)

(12041, 34)

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [21]:
print(d_raw1.isnull().sum())

distance                         0
months_of_activity               0
customer_score                   0
ratings_given_by_cust            0
num_of_cancelled_trips           0
anon_var_2                       0
anon_var_3                       0
pricing_category                 0
taxi_type_A                      0
taxi_type_B                      0
taxi_type_C                      0
taxi_type_D                      0
taxi_type_E                      0
taxi_type_nan                    0
customer_score_confidence_A      0
customer_score_confidence_B      0
customer_score_confidence_C      0
customer_score_confidence_nan    0
drop_location_type_A             0
drop_location_type_B             0
drop_location_type_C             0
drop_location_type_D             0
drop_location_type_E             0
drop_location_type_F             0
drop_location_type_G             0
drop_location_type_H             0
drop_location_type_I             0
drop_location_type_J             0
drop_location_type_K             0
drop_location_type_L             0
drop_location_type_M             0
drop_location_type_N             0
drop_location_type_nan           0
sex_Female                       0
sex_Male                         0
sex_nan                          0
dtype: int64

In [22]:
d_raw = d_raw1.copy(deep=True)

In [23]:
d_raw['months_of_activity'] = df_raw['months_of_activity']

In [24]:
print(d_raw.isnull().sum())

distance                            0
months_of_activity               3533
customer_score                      0
ratings_given_by_cust               0
num_of_cancelled_trips              0
anon_var_2                          0
anon_var_3                          0
pricing_category                    0
taxi_type_A                         0
taxi_type_B                         0
taxi_type_C                         0
taxi_type_D                         0
taxi_type_E                         0
taxi_type_nan                       0
customer_score_confidence_A         0
customer_score_confidence_B         0
customer_score_confidence_C         0
customer_score_confidence_nan       0
drop_location_type_A                0
drop_location_type_B                0
drop_location_type_C                0
drop_location_type_D                0
drop_location_type_E                0
drop_location_type_F                0
drop_location_type_G                0
drop_location_type_H                0
drop_location_type_I                0
drop_location_type_J                0
drop_location_type_K                0
drop_location_type_L                0
drop_location_type_M                0
drop_location_type_N                0
drop_location_type_nan              0
sex_Female                          0
sex_Male                            0
sex_nan                             0
dtype: int64

In [25]:
data = d_raw.drop(['months_of_activity','pricing_category'], axis=1)
label = d['months_of_activity']

In [26]:
x_train, x_test, y_train, y_test = train_test_split(data, label, test_size = 0.1)

In [27]:
regressor_2 = MLPRegressor(verbose=True)

In [28]:
regressor_2.fit(x_train, y_train)

Iteration 1, loss = 6.92139472
Iteration 2, loss = 6.18281522
Iteration 3, loss = 6.14587903
Iteration 4, loss = 6.15120101
Iteration 5, loss = 6.11463906
Iteration 6, loss = 6.10736958
Iteration 7, loss = 6.08542881
Iteration 8, loss = 6.07712802
Iteration 9, loss = 6.06913122
Iteration 10, loss = 6.07964108
Iteration 11, loss = 6.06887034
Iteration 12, loss = 6.08830270
Iteration 13, loss = 6.07573135
Iteration 14, loss = 6.08391618
Iteration 15, loss = 6.08700214
Iteration 16, loss = 6.09183149
Iteration 17, loss = 6.05969429
Iteration 18, loss = 6.06837364
Iteration 19, loss = 6.05883550
Iteration 20, loss = 6.05499407
Iteration 21, loss = 6.05580682
Iteration 22, loss = 6.03656772
Iteration 23, loss = 6.05807872
Iteration 24, loss = 6.05340672
Iteration 25, loss = 6.07931267
Iteration 26, loss = 6.03785448
Iteration 27, loss = 6.04805468
Iteration 28, loss = 6.06119889
Iteration 29, loss = 6.03905019
Iteration 30, loss = 6.03490953
Iteration 31, loss = 6.05809513
Iteration 32, loss = 6.03019719
Iteration 33, loss = 6.04649818
Iteration 34, loss = 6.03691297
Iteration 35, loss = 6.05217481
Iteration 36, loss = 6.03311288
Iteration 37, loss = 6.03766633
Iteration 38, loss = 6.05641846
Iteration 39, loss = 6.02182295
Iteration 40, loss = 6.04295695
Iteration 41, loss = 6.05103647
Iteration 42, loss = 6.05699785
Iteration 43, loss = 6.01885465
Iteration 44, loss = 6.03819250
Iteration 45, loss = 6.02333379
Iteration 46, loss = 6.02646124
Iteration 47, loss = 6.03275088
Iteration 48, loss = 6.03001922
Iteration 49, loss = 6.05099132
Iteration 50, loss = 6.03541527
Iteration 51, loss = 6.02651363
Iteration 52, loss = 6.01853566
Iteration 53, loss = 6.03312044
Iteration 54, loss = 6.01754581
Iteration 55, loss = 6.01854577
Iteration 56, loss = 6.03249452
Iteration 57, loss = 6.01167197
Iteration 58, loss = 6.03066514
Iteration 59, loss = 6.03649091
Iteration 60, loss = 6.01714653
Iteration 61, loss = 6.04025128
Iteration 62, loss = 6.00999074
Iteration 63, loss = 6.02420408
Iteration 64, loss = 6.00540500
Iteration 65, loss = 6.01710372
Iteration 66, loss = 6.00615624
Iteration 67, loss = 6.02641964
Iteration 68, loss = 6.01684389
Iteration 69, loss = 6.01422376
Iteration 70, loss = 6.00902606
Iteration 71, loss = 6.00618858
Iteration 72, loss = 5.99740822
Iteration 73, loss = 6.00329156
Iteration 74, loss = 6.01072543
Iteration 75, loss = 6.01439430
Iteration 76, loss = 5.99987264
Iteration 77, loss = 6.01424238
Iteration 78, loss = 6.00829307
Iteration 79, loss = 6.00841767
Iteration 80, loss = 6.00600307
Iteration 81, loss = 6.00368306
Iteration 82, loss = 6.00556488
Iteration 83, loss = 5.99837259
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.

MLPRegressor(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(100,), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
       random_state=None, shuffle=True, solver='adam', tol=0.0001,
       validation_fraction=0.1, verbose=True, warm_start=False)

In [29]:
pred = regressor.predict(x_train)
score = np.linalg.norm((y_train-pred)**2,ord=2)/pred.shape[0]
print(score)

0.12040676684873677

In [30]:
pred = regressor.predict(x_test)
score = np.linalg.norm((y_test-pred)**2,ord=2)/pred.shape[0]
print(score)

0.3564924569232279

In [31]:
months_of_activity_orig = d_raw['months_of_activity']

In [32]:
indx_nan = np.array(months_of_activity_orig.isna())
indx_nan = np.where(indx_nan == True)[0]
indx_not_nan = np.where(indx_nan == False)[0]

In [34]:
months_of_activity_pred = months_of_activity_orig
temp_data = np.array(d_raw.drop(['months_of_activity','pricing_category'],axis=1))[indx_nan,:]
print(temp_data.shape)
months_of_activity_pred[indx_nan] = regressor.predict(temp_data)

(3533, 34)

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [35]:
print(d_raw.isnull().sum())

distance                         0
months_of_activity               0
customer_score                   0
ratings_given_by_cust            0
num_of_cancelled_trips           0
anon_var_2                       0
anon_var_3                       0
pricing_category                 0
taxi_type_A                      0
taxi_type_B                      0
taxi_type_C                      0
taxi_type_D                      0
taxi_type_E                      0
taxi_type_nan                    0
customer_score_confidence_A      0
customer_score_confidence_B      0
customer_score_confidence_C      0
customer_score_confidence_nan    0
drop_location_type_A             0
drop_location_type_B             0
drop_location_type_C             0
drop_location_type_D             0
drop_location_type_E             0
drop_location_type_F             0
drop_location_type_G             0
drop_location_type_H             0
drop_location_type_I             0
drop_location_type_J             0
drop_location_type_K             0
drop_location_type_L             0
drop_location_type_M             0
drop_location_type_N             0
drop_location_type_nan           0
sex_Female                       0
sex_Male                         0
sex_nan                          0
dtype: int64

In [36]:
df

NameError: name 'df' is not defined

In [37]:
from sklearn.ensemble import RandomForestClassifier

In [38]:
data = d_raw.drop(['pricing_category'], axis=1)
label = d_raw['pricing_category']

In [54]:
x_train, x_test, y_train, y_test = train_test_split(data, label, test_size = 0.3)

In [55]:
clf = RandomForestClassifier(n_jobs=4, max_depth=11, n_estimators=100)

In [56]:
clf.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=11, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=4,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [57]:
print(clf.score(x_train, y_train))
print(clf.score(x_test, y_test))

0.7133660053890808
0.6959071729957806

In [58]:
# data

In [59]:
df_test = pd.read_csv('test.csv')
df_test = pd.get_dummies(df_test, columns=['taxi_type', 'customer_score_confidence', 'drop_location_type', 'sex'], dummy_na=True)
df_test_id = df_test['id']
df_test = df_test.drop(['anon_var_1','id'],axis=1)
df_test1 = df_test.copy(deep=True)
print(df_test.shape)

(52665, 35)

In [60]:
print(df_test.isnull().sum())

distance                            0
months_of_activity               2387
customer_score                   8152
ratings_given_by_cust               0
num_of_cancelled_trips              0
anon_var_2                          0
anon_var_3                          0
taxi_type_A                         0
taxi_type_B                         0
taxi_type_C                         0
taxi_type_D                         0
taxi_type_E                         0
taxi_type_nan                       0
customer_score_confidence_A         0
customer_score_confidence_B         0
customer_score_confidence_C         0
customer_score_confidence_nan       0
drop_location_type_A                0
drop_location_type_B                0
drop_location_type_C                0
drop_location_type_D                0
drop_location_type_E                0
drop_location_type_F                0
drop_location_type_G                0
drop_location_type_H                0
drop_location_type_I                0
drop_location_type_J                0
drop_location_type_K                0
drop_location_type_L                0
drop_location_type_M                0
drop_location_type_N                0
drop_location_type_nan              0
sex_Female                          0
sex_Male                            0
sex_nan                             0
dtype: int64

In [61]:
months_of_activity_t = df_test['months_of_activity']
months_of_activity_t.fillna(months_of_activity.mean(), inplace=True)
df_test['months_of_activity'] = months_of_activity_t

In [62]:
customer_score_orig_t = df_test['customer_score']

indx_nan_t = np.array(customer_score_orig_t.isna())
indx_nan_t = np.where(indx_nan_t == True)[0]
indx_not_nan_t = np.where(indx_nan_t == False)[0]

customer_score_pred_t = customer_score_orig_t
temp_data_t = np.array(df_test.drop(['customer_score'],axis=1))[indx_nan_t,:]
customer_score_pred_t[indx_nan_t] = regressor.predict(temp_data_t)

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [63]:
df_test['months_of_activity'] = df_test1['months_of_activity']
print(df_test.isnull().sum())

distance                            0
months_of_activity               2387
customer_score                      0
ratings_given_by_cust               0
num_of_cancelled_trips              0
anon_var_2                          0
anon_var_3                          0
taxi_type_A                         0
taxi_type_B                         0
taxi_type_C                         0
taxi_type_D                         0
taxi_type_E                         0
taxi_type_nan                       0
customer_score_confidence_A         0
customer_score_confidence_B         0
customer_score_confidence_C         0
customer_score_confidence_nan       0
drop_location_type_A                0
drop_location_type_B                0
drop_location_type_C                0
drop_location_type_D                0
drop_location_type_E                0
drop_location_type_F                0
drop_location_type_G                0
drop_location_type_H                0
drop_location_type_I                0
drop_location_type_J                0
drop_location_type_K                0
drop_location_type_L                0
drop_location_type_M                0
drop_location_type_N                0
drop_location_type_nan              0
sex_Female                          0
sex_Male                            0
sex_nan                             0
dtype: int64

In [64]:
months_of_activity_orig_t = df_test['months_of_activity']

indx_nan_t = np.array(months_of_activity_orig_t.isna())
indx_nan_t = np.where(indx_nan_t == True)[0]
indx_not_nan_t = np.where(indx_nan_t == False)[0]
# print(indx_nan_t)
months_of_activity_pred_t = months_of_activity_orig_t
temp_data_t = np.array(df_test.drop(['months_of_activity'],axis=1))[indx_nan_t,:]
months_of_activity_pred_t[indx_nan_t] = regressor_2.predict(temp_data_t)

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [65]:
print(df_test.isnull().sum())

distance                         0
months_of_activity               0
customer_score                   0
ratings_given_by_cust            0
num_of_cancelled_trips           0
anon_var_2                       0
anon_var_3                       0
taxi_type_A                      0
taxi_type_B                      0
taxi_type_C                      0
taxi_type_D                      0
taxi_type_E                      0
taxi_type_nan                    0
customer_score_confidence_A      0
customer_score_confidence_B      0
customer_score_confidence_C      0
customer_score_confidence_nan    0
drop_location_type_A             0
drop_location_type_B             0
drop_location_type_C             0
drop_location_type_D             0
drop_location_type_E             0
drop_location_type_F             0
drop_location_type_G             0
drop_location_type_H             0
drop_location_type_I             0
drop_location_type_J             0
drop_location_type_K             0
drop_location_type_L             0
drop_location_type_M             0
drop_location_type_N             0
drop_location_type_nan           0
sex_Female                       0
sex_Male                         0
sex_nan                          0
dtype: int64

In [67]:
testY_i = clf.predict(df_test)
print(testY_i.shape)
testY_s = []
for x in testY_i:
    testY_s.append(float(x))
# Write the predictions to a CSV file 
submission = pd.DataFrame(
    {'id': df_test_id, 'pricing_category': testY_s},
    columns = ['id', 'pricing_category'])
submission.to_csv('submission_hack.csv', index = False)

(52665,)